#messages {
    border: 2px solid grey;
    height: 200px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
}

#sending {
    /* display sending element next to message input field */
    display: inline-block;
}

.userName {
    font-weight: bold;
    color: grey;
}

.info {
    font-weight: bold;
    color: green;
}

.warning {
    font-weight: bold;
    color: green;
}

.error {
    font-weight: bold;
    color: red;
}
